<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <h1>From about page in hbs</h1>
        {{>footer}}
    </body>
</html>